{% if showNested is not defined %}
    {% if theme_setting_is('POST_COMMENTS_VIEW', 'CHAT') %}
        {% set showNested = false %}
    {% else %}
        {% set showNested = true %}
    {% endif %}
{% endif %}
{% if level is not defined %}
    {% set level = 1 %}
{% endif %}
{% set autoAction = is_route_name('post_single') ? 'notifications:PostCommentCreatedNotification@window->subject-list#addComment' : 'notifications:PostCommentCreatedNotification@window->subject-list#addCommentOverview' %}
{% set manualAction = is_route_name('post_single') ? 'notifications:PostCommentCreatedNotification@scroll-top#increaseCounter' : 'notifications:PostCommentCreatedNotification@window->scroll_top#increaseCounter' %}
<div class="{{ html_classes('comments post-comments comments-tree', {
         'show-comment-avatar': theme_setting_is('KBIN_COMMENTS_SHOW_USER_AVATAR', 'TRUE'),
         'show-post-avatar': theme_setting_is('KBIN_POSTS_SHOW_USERS_AVATARS', 'TRUE') },
         'comments-view-style--'~theme_setting_get('POST_COMMENTS_VIEW')
     ) }}"
     data-controller="subject-list"
     data-action="{{- theme_setting_is('KBIN_GENERAL_DYNAMIC_LISTS', 'TRUE') ? autoAction : manualAction -}}">
    {% for comment in comments|sort_author_first(post) %}
        {{ component('post_comment', {
            comment: comment,
            showNested: showNested,
            dateAsUrl: dateAsUrl is defined ? dateAsUrl : true,
            level: level
        }) }}
    {% endfor %}
    {% if(comments.haveToPaginate is defined and comments.haveToPaginate) %}
        {{ pagerfanta(comments, null, {'pageParameter':'[p]'}) }}
    {% endif %}
    {% if not comments|length %}
        <aside class="section section--muted">
            <p>{{ 'no_comments'|trans }}</p>
        </aside>
    {% elseif theme_setting_is('POST_COMMENTS_VIEW', 'TREE') %}
        <div class="comment-line--2"></div>
        <div class="comment-line--3"></div>
        <div class="comment-line--4"></div>
        <div class="comment-line--5"></div>
        <div class="comment-line--6"></div>
        <div class="comment-line--7"></div>
        <div class="comment-line--8"></div>
        <div class="comment-line--9"></div>
    {% endif %}
</div>
