<div class="settings-row" data-controller="settings-row-switch">
    <span class="label" id="settings-row-label-{{ settingsKey }}">{{ label }}</span>
    <span class="help" id="settings-row-help-{{ settingsKey }}">{{ help }}</span>
    <div class="value-container">
        <label class="switch" role="switch">
            <input type="checkbox"
                   aria-labelledby="settings-row-label-{{ settingsKey }}"
                   aria-describedby="settings-row-label-{{ settingsKey }}"
                   {{ (theme_setting_is(settingsKey, 'TRUE')) ? 'checked' : '' }}
                   data-action="change->settings-row-switch#toggle"
                   data-settings-row-switch-true-path-param="{{ path('theme_settings', {key: theme_setting_constant(settingsKey), value: theme_setting_constant('TRUE')}) }}"
                   data-settings-row-switch-false-path-param="{{ path('theme_settings', {key: theme_setting_constant(settingsKey), value: theme_setting_constant('FALSE')}) }}"
                   data-settings-row-switch-reload-required-param="{{ reloadRequired }}"
            />
            <span class="slider"></span>
        </label>
    </div>
</div>
